<h1><%= @artist.name %></h1>

<h2>List of songs:</h2>

<% @artist.songs.each do |song| %>
  <li>
    <%= song.title %>
  </li>
<% end %>

<p>Age: <%= @artist.age %></p>
<p>Country: <%= @artist.country %></p>

<%= link_to "Back", root_path %>
