<div class= "centering">
  <h1><%= @artist.name %></h1>

  <p>Age: <%= @artist.age %></p>
  <p>Country: <%= @artist.country %></p>

  <h3>List of songs:</h3>

  <div id="songList">
    <% @artist.songs.each do |song| %>
    <div id="songAlbum "data-id="<%= song.id %>">
      <p>Song: <%= song.title %></p>
      <p>Album: <%= song.album %></p>
        <input type="button" value="Delete Song" onclick="deleteSong(<%= song.id %>)"/>
    </div>
      <!-- <%= link_to "Delete song", artist_song_path(@artist,song), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary"%> -->
    <% end %>
  </div>


  <hr />

    <%= link_to "Back", root_path, class: "btn btn-primary" %>

    <%= link_to "Delete Artist", artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary"%>
</div>

  <div id="addSong">
    <%= form_tag do %>
      <p>Add Song:<p/>
      <%= text_field_tag(:title) %>
      <p>Add Album:<p/>
      <%= text_field_tag(:album) %>

    <div class="actions">
      <%= submit_tag "Save", class: "btn btn-primary" %>
    </div>

  </div>
  <% end %>
